.navbar-inner {
    background: #3652a4;
    min-height: 55px;
}

p {
    color: #FFF;
    text-align: center;
    font-size: 2em;
    margin: 1px 0 10px;
}

.reset {
	margin-left: 5%;
}

.desc{
	font-family: Calibri;
}

.result{
	font-family: Calibri;
	font-size: x-large;
	color: #3652a4;
	font-weight: bolder;
}

#val1Res, #val2Res, #concatResDiv, #labelRes {
  color: blue;
  font-size: 20px;
  margin-top: 6px;
}
